<h1>{{title}}</h1>
<h4>{{author}}</h4>
<img src="{{main_image}}" alt="{{main_image}}"/>
<p>{{article}}</p>
<h2>Summarized Article</h2>
<ul>
    {{#each summarized_article}}
    <li>{{this}}</li>
    {{/each}}
</ul>