<h1>{{title}}</h1>
<h4>{{author}}</h4>
<h2>Website Reputation: {{report.website_reputation}}</h2>
<h4>Website Rating: {{report.website_rating}}</h4>
<h2>Author Reputation: </h2>
<img src="{{main_image}}" alt="{{main_image}}"/>
<p>{{article}}</p>
<h2>Summarized Article</h2>
<ul>
    {{#each summarized_article}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<h2>Extracted Concepts</h2>
<ul>
    {{#each concepts}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<h2>Sentiment</h2>
<h6>Polarity: {{polarity}} with {{polarity_confidence}} confidence</h6>
<h6>Subjectivity: {{polarity}} with {{subjectivity_confidence}} confidence</h6>